/* CSS styles optimized for the project */

/* Base styling */
* {
    margin: 0;
    padding: 0;
    cursor: none;
}

/* Variable definitions */
:root {
    /* Colors */ 
    --cursor_color: linear-gradient(to top left, #ef536d, #c1c636);
    --background_color: linear-gradient(to top left, #b156d9, #213780);
}

/* Body styling */
body {
    background: var(--background_color);
    overflow: hidden;
    height: 100vh;
}

/* Cursor styling */
#cursor {
    position: absolute;
    background:var(--cursor_color);
    height: 2rem;
    width: 2rem;
    border-radius: 0% 100% 0% 100% / 0% 100% 0% 100%;
    transform: translate(-100%, -100%);
    pointer-events: none;
    transition: all 0.1s ease-out;
}
